body {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

button {
    border-radius: 15px;
    width: 20vw;
    height: 10vh;
    background-color: white;
    color: black;
    margin-top: 20px;
    font-family: Open Sans, sans-serif;
    font-size: 3vh;
}

img {
    border-radius: 20px;
    max-width: 90vw;
    height: auto;
    margin-bottom: 20px;
}

#logo {
    max-width: 50vw;
    height: auto;
    border-radius: 5vh;
}

h1 {
    color: white;
    font-family: Open Sans, sans-serif;
    margin: 5vh 0 5vh 0;
    font-size: clamp(24px, 5vw, 48px);
}

#Chan {
    width: 60 vw;
    height: auto;
}

#Changbin {
    width: 60 vw;
    height: auto;
}

#All {
    width: 60 vw;
    height: auto;
}

#back {
    position: absolute;
    width: 20vw;
    height: 5vh;
    font-size: auto;
    left: 2vw;
    top: 2vh;
}

#ModeDisplay {
    color: white;
    height: 5vh;
    width: auto;
    font-family: Open Sans, sans-serif;
    position: relative;
    align-self: center;
    font-size: 5vh;
}